@import "../../scss/variable";

.hero {
  &-img {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    h1 {
      font-size: 4rem;
      color: $color-text;
    }
  }
}
