.infoitem {
  width: 300px;
  color: black;
  padding: 20px 15px;
  border: 6px solid white;
  border-radius: 4px;
  &-header {
    border-bottom: 2px solid white;
    font-size: 30px;
    font-weight: 400;
  }
  &-number {
    font-size: 40px;
    padding: 20px 0;
  }
  & > a {
    &:active {
      color: white;
    }
  }
}
