.country {
  flex: 1 1 300px;
  padding: 10px;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: rgb(234, 252, 255);
  transition: all 0.2s linear;
  &-title {
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 15px;
  }

  &-content {
    margin-top: auto;
    line-height: 22px;
  }
  &:hover {
    cursor: pointer;
    color: yellow;
    background-color: rgba(124, 104, 226, 1);
  }
}

@media (max-width: 992px) {
  // do something
}

@media (max-width: 768px) {
  .country {
    flex: 1 1 300px;
  }
  //
}

@media (max-width: 600px) {
  .country {
    flex: 1 1 400px;
  }
}
