.country {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 5px;
  width: 24%;

  border: 1px solid grey;
  border-radius: 8px;

  background-color: rgb(234, 252, 255);

  transition: all 0.2s linear;

  &-title {
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 15px;
  }

  &-content {
    margin-top: auto;
    line-height: 22px;
  }
  &:hover {
    cursor: pointer;
    color: yellow;
    background-color: rgba(124, 104, 226, 1);
  }
}
